<!DOCTYPE html>
<html
        layout:decorate="~{layouts/layout1}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- layout1.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content">
    <!-- Main Content -->
    <div class="row">
        <div class="col-12 mt-3 text-center text-uppercase">
        </div>
    </div>

    <main class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-light rounded shadow py-4 mb-4">
            <div class="text-left mb-4">
                <h4>NURIBOOKS</h4>
            </div>
            <form class="row" id="login_form" method="post" th:action="@{/login}">
                <div class="mb-3">
                    <input class="form-control" id="username" name="username" placeholder="아이디" required type="text">
                </div>
                <div class="mb-3">
                    <input PLACEHOLDER="비밀번호" class="form-control" id="password" name="password" required
                           type="password">
                </div>
                <p class="text-center" id="signup-text"><a th:href="@{/sign-up}">아직 회원이 아니신가요?</a></p>
                <div class="mb-3 text-center">
                    <button class="btn btn-primary w-100" type="submit">일반 로그인</button>
                </div>
            </form>

            <p id="social-login-text">소셜 로그인</p>
            <div id="oauth-list">
                <div>
                    <a href="/login/oauth2/payco">
                        <img alt="Payco Oauth2 Login ICON" src="/images/payco-logo.png">
                    </a>
                </div>
                <div>
                    <a href="/login/oauth2/naver">
                        <img alt="Naver Oauth2 Login ICON" src="/images/naver-logo.png">
                    </a>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Content -->

    <!-- Custom Modal for ResponseMessage -->
    <div aria-hidden="true" aria-labelledby="responseModalLabel" class="modal fade" id="responseModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="responseModalLabel">휴면회원 인증</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body" id="modalMessage" th:text="${message}">
                    <!-- 서버에서 전달된 메시지가 여기에 동적으로 삽입됩니다 -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="responseBtn" type="button">확인</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Script -->
<th:block layout:fragment="script">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("login_form");
            const errorMessage = document.getElementById("errorMessage");
            const errorToastElement = document.getElementById("errorToast")
            const errorToast = new bootstrap.Toast(errorToastElement);
            errorToast.hide();

            form.addEventListener("submit", function (event) {
                let valid = true;

                const username = document.getElementById("username").value;
                const password = document.getElementById("password").value;

                // 필수 입력 검증
                if (!username || !password) {
                    errorMessage.textContent = "모든 필드를 입력해야 합니다.";
                    valid = false;
                }

                // 길이 검증
                if (username.length < 8 || username.length > 20) {
                    errorMessage.textContent = "사용자 아이디는 8자 이상 20자 이하로 입력해야 합니다.";
                    valid = false;
                }
                if (password.length < 8 || password.length > 20) {
                    errorMessage.textContent = "비밀번호는 8자 이상 20자 이하로 입력해야 합니다.";
                    valid = false;
                }

                // 유효하지 않으면 오류 메시지 표시하고 폼 제출 중지
                if (!valid) {
                    event.preventDefault();
                    errorToastElement.style.display = "block";
                    errorToast.show();
                }

            });
        });

        // 페이지가 로드되면 메시지가 있으면 모달을 띄운다.
        document.addEventListener("DOMContentLoaded", function () {
            const message = document.getElementById('modalMessage').textContent;

            if (message) {
                // 모달에 메시지 삽입
                document.getElementById('modalMessage').textContent = message;

                // 모달 표시
                var modal = new bootstrap.Modal(document.getElementById('responseModal'));
                modal.show();

                // 확인 버튼 클릭 시 모달 닫기
                document.getElementById('responseBtn').addEventListener('click', function () {
                    modal.hide(); // 모달 닫기
                });
            }
        });
    </script>
</th:block>
<!-- Script -->
</html>