<!DOCTYPE html>
<html
        layout:decorate="~{layouts/layout1}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- layout1.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content">
    <!-- Main Content -->
    <div class="row">
        <div class="col-12 mt-3 text-center text-uppercase">
        </div>
    </div>

    <main class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-light rounded shadow py-4 mb-4">
            <div class="text-left mb-4">
                <h4>NURIBOOKS</h4>
            </div>
            <form class="row" id="login_form" method="post" th:action="@{/login}">
                <div class="mb-3">
                    <input class="form-control" id="username" name="username" placeholder="아이디" required type="text">
                    <small class="form-text text-muted" id="usernameError" style="display:none;"></small>
                </div>
                <div class="mb-3">
                    <input PLACEHOLDER="비밀번호" class="form-control" id="password" name="password" required
                           type="password">
                    <small class="form-text text-muted" id="passwordError" style="display:none;"></small>
                </div>
                <p class="text-center" id="signup-text"><a th:href="@{/sign-up}">아직 회원이 아니신가요?</a></p>
                <div class="mb-3 text-center">
                    <button class="btn btn-primary w-100" type="submit">일반 로그인</button>
                </div>
            </form>
            <div class="mb-3 mt-1 text-center">
                <a th:href="@{/non-member}">
                    <button class="btn btn-secondary w-100">비회원 주문 조회</button>
                </a>
            </div>

            <p id="social-login-text">소셜 로그인</p>
            <div id="oauth-list">
                <div>
                    <a href="/login/oauth2/payco">
                        <img alt="Payco Oauth2 Login ICON" src="/images/payco-logo.png">
                    </a>
                </div>
                <div>
                    <a href="/login/oauth2/naver">
                        <img alt="Naver Oauth2 Login ICON" src="/images/naver-logo.png">
                    </a>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Content -->
</div>

<!-- Script -->
<th:block layout:fragment="script">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("login_form");
            const errorMessage = document.getElementById("errorMessage");
            const errorToastElement = document.getElementById("errorToast")
            const errorToast = new bootstrap.Toast(errorToastElement);
            errorToast.hide();

            form.addEventListener("submit", function (event) {
                let valid = true;

                // 아이디, 비밀번호 유효성 검증
                if (!validateUsername() || !validatePassword()) {
                    errorMessage.textContent = "입력 정보가 올바르지 않습니다.";
                    valid = false;
                }

                // 유효하지 않으면 오류 메시지 표시하고 폼 제출 중지
                if (!valid) {
                    event.preventDefault();
                    errorToastElement.style.display = "block";
                    errorToast.show();
                }
            });
        });

        // 아이디 유효성 검사
        function validateUsername() {
            const usernameField = document.getElementById('username');
            const usernameError = document.getElementById('usernameError');
            const username = usernameField.value;

            const usernamePattern = /^(?=.*[a-z])(?=.*[0-9])[a-z0-9]{8,20}$/; // 8~20자 영문자, 숫자만 가능

            if (!usernamePattern.test(username)) {
                usernameError.style.display = 'block';
                usernameError.textContent = "아이디는 8자 이상 20자 이하, 영어 소문자와 숫자가 각각 1개 이상 포함되어야 합니다.";
                usernameField.style.borderColor = "red";
                return false;
            } else {
                usernameError.style.display = 'none';
                usernameField.style.borderColor = "";
                return true;
            }
        }

        // 비밀번호 유효성 검사
        function validatePassword() {
            const passwordField = document.getElementById('password');
            const passwordError = document.getElementById('passwordError');
            const password = passwordField.value;

            // 비밀번호 정규식 (영문자와 숫자와 특수문자가 각각 최소 1개 이상 포함)
            const passwordPattern = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,20}$/;
            if (!passwordPattern.test(password)) {
                passwordError.style.display = 'block';
                passwordError.textContent = "비밀번호는 8자 이상 20자 이하, 영문자, 숫자, 특수문자가 각각 1개 이상 포함되어야 합니다.";
                passwordField.style.borderColor = "red";
                return false;
            } else {
                passwordError.style.display = 'none';
                passwordField.style.borderColor = "";
                return true;
            }
        }

        // 실시간 유효성 검사
        document.getElementById('username').addEventListener('input', validateUsername);
        document.getElementById('password').addEventListener('input', validatePassword);

    </script>
</th:block>
<!-- Script -->
</html>
