<!DOCTYPE html>
<html
        layout:decorate="~{layouts/layout1}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <div class="row">
        <div class="col-12 mt-3 text-center text-uppercase">
        </div>
    </div>

    <main class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-light rounded shadow py-4 mb-4">
            <div class="text-left mb-4">
                <h4>비회원 주문 조회</h4>
            </div>
            <form class="row" id="login_form" method="post" th:action="@{/non-member}">
                <div class="mb-3">
                    <input class="form-control" id="email" name="email" placeholder="이메일" required type="text">
                </div>
                <div class="mb-3">
                    <input PLACEHOLDER="비밀번호" class="form-control" id="password" name="password" required
                           type="password">
                </div>
                <div class="mb-3 mt-1 text-center">
                    <a href="/non-login">
                        <button class="btn btn-secondary w-100" type="submit">조회</button>
                    </a>
                </div>
            </form>
        </div>
    </main>
</div>
</html>