<div th:fragment="register_modal">
    <script>
        const submitHandler = (url) => {
            const form = document.getElementById('register_form');

            const formData = new FormData(form);

            fetch(url, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        response?.json().then(data => {
                            showMessage("등록 실패 \n" + data.message)
                        });
                    } else {
                        refreshList();
                        showMessage();
                    }
                })
                .catch(error => {
                    showMessage(error);
                });
            form.reset();
            $('#register-modal').modal('hide');
        }

        function setMaxAmount() {
            const policyType = document.getElementById("policyType").value;
            const amountInput = document.getElementById("discount");

            if (policyType === 'RATED') { // Adjust according to actual value for Type 1
                amountInput.setAttribute("max", "100");
                amountInput.value = 0;
            } else {
                amountInput.removeAttribute("max");
                amountInput.value = 0;
            }
        }

    </script>

    <div>
        <!-- 쿠폰 정책 등록 버튼 -->
        <div class="text-end mb-4">
            <button class="btn btn-outline-secondary btn-sm" id="openModalBtn" onclick="openModal('register-modal')">
                <i class="fas fa-plus-circle me-2"></i>새로 만들기
            </button>
        </div>

        <!-- 쿠폰 정책 등록 모달 -->
        <div aria-hidden="true" aria-labelledby="policyModalLabel" class="modal fade" id="register-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="policyModalLabel">쿠폰 정책 등록</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">

                        <!-- 쿠폰 정책 등록 폼 -->
                        <form action="#" id="register_form" method="post">
                            <div class="mb-3">
                                <label class="form-label" for="name">쿠폰 이름</label>
                                <input class="form-control" id="name" name="name" placeholder="쿠폰 이름" required
                                       type="text">

                                <label class="form-label" for="couponType">쿠폰 유형</label>
                                <select class="form-select" id="couponType" name="couponType" onchange="setMaxAmount()">
                                    <option th:each="couponType : ${couponTypes}" th:text="${couponType.toKorName()}"
                                            th:value="${couponType}"></option>
                                </select>

                                <label class="form-label" for="policyType">정책 유형</label>
                                <select class="form-select" id="policyType" name="policyType" onchange="setMaxAmount()">
                                    <option th:each="policyType : ${policyTypes}" th:text="${policyType.toKorName()}"
                                            th:value="${policyType}"></option>
                                </select>

                                <label class="form-label" for="discount">할인 할당량</label>
                                <input class="form-control" id="discount" min="0" name="discount" placeholder="할인 할당량"
                                       required
                                       type="number">
                                <script>
                                    document.getElementById('discount').addEventListener('input', function () {
                                        const maxAmount = this.getAttribute('max');
                                        console.log(this.value)
                                        if (maxAmount && this.value > Number(maxAmount)) {
                                            this.value = maxAmount;
                                        }
                                    });

                                </script>
                                <label class="form-label" for="minimumOrderPrice">최소 주문 금액</label>
                                <input class="form-control" id="minimumOrderPrice" min="0" name="minimumOrderPrice"
                                       placeholder="최소 주문 금액" required type="number">

                                <label class="form-label" for="maximumDiscountPrice">최대 할인 금액</label>
                                <input class="form-control" id="maximumDiscountPrice" min="0"
                                       name="maximumDiscountPrice"
                                       placeholder="최대 할인 금액" required type="number">

                                <label class="form-label" for="createdAt">시작일시</label>
                                <input class="form-control" id="createdAt" name="createdAt" placeholder="시작일시" required
                                       type="date">

                                <label class="form-label" for="expiredAt">종료일시</label>
                                <input class="form-control" id="expiredAt" name="expiredAt" placeholder="선택 사항"
                                       type="date">

                                <label class="form-label" for="period">기간 (일)</label>
                                <input class="form-control" id="period" min="0" name="period" placeholder="0은 지정하지 않음"
                                       type="number">

                                <label class="form-label" for="expirationType">만료 유형</label>
                                <select class="form-select" id="expirationType" name="expirationType">
                                    <option th:each="expirationType : ${expirationTypes}"
                                            th:text="${expirationType.toKorName()}"
                                            th:value="${expirationType}"></option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" onclick="submitHandler('/admin/coupon')" type="button">
                                    등록
                                </button>
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">아니오</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>