<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/order-layout}">
<div layout:fragment="content">
    <!-- Main Content -->
    <div class="row">
        <div class="col-12 mt-3 text-center text-uppercase">
            <br/>
            <h2>회원 주문</h2>
        </div>
    </div>

    <!-- 주문서 영역 -->
    <div class="container mt-5">
        <div class="row">
            <!-- 왼쪽: 주문자 및 배송지 정보, 결제 UI -->
            <div class="col-md-9">
                <div class="row">
                    <!-- 주문자 정보 -->
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <h5 class="mb-0">
                                <button
                                        class="btn btn-link accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseCustomerInfo"
                                        aria-expanded="false"
                                        aria-controls="collapseCustomerInfo"
                                >
                                    주문자 정보
                                </button>
                            </h5>
                            <div
                                    id="collapseCustomerInfo"
                                    class="collapse"
                                    aria-labelledby="headingCustomerInfo"
                            >
                                <div class="card-body">
                                    <br/>
                                    <h4>주문자 정보</h4>
                                    <div class="form-group">
                                        <label class="font-weight-bold">주문자 이름</label>
                                        <span style="display: block;" id="customer-name"
                                              th:text="${orderInformation.name}">홍길동</span>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label class="font-weight-bold">전화번호</label>
                                        <span style="display: block;" id="customer-phone"
                                              th:text="${orderInformation.phoneNumber}">0000000000</span>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label class="font-weight-bold">이메일</label>
                                        <span style="display: block;" id="customer-email"
                                              th:text="${orderInformation.email}">000@0000000</span>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 배송지 정보 -->
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <h5 class="mb-0">
                                <button
                                        class="btn btn-link accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseShippingInfo"
                                        aria-expanded="false"
                                        aria-controls="collapseShippingInfo"
                                >
                                    배송지 정보
                                </button>
                            </h5>
                            <div
                                    id="collapseShippingInfo"
                                    class="collapse"
                                    aria-labelledby="headingShippingInfo"
                            >
                                <div class="card-body">
                                    <br/>
                                    <h4>배송 정보</h4>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="shipping-address">수취자 이름</label>
                                        <input type="text" class="form-control" id="shipping-name"
                                               placeholder="수취자 이름을 입력하세요"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="shipping-address">수취자 연락처</label>
                                        <input type="text" class="form-control" id="shipping-phone-number"
                                               placeholder="수취자 연락처를 입력하세요"/>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="shipping-address">수취자 주소</label>
                                        <!-- 주소 검색 버튼들을 수평으로 배치 -->
                                        <div class="d-flex">
                                            <input type="button" class="me-2 lex-grow-1" id="Postcode"
                                                   onclick="daumPostcode()" value="도로명 주소 찾기"/>
                                            <button class="btn btn-primary flex-grow-1" data-bs-toggle="modal"
                                                    data-bs-target="#addressModal">
                                                주소 목록 보기
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="shipping-address">배송지</label>
                                        <input type="text" class="form-control" id="shipping-address"
                                               placeholder="주소명 찾기를 이용하세요." readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="shipping-address">배송지 상세주소</label>
                                        <input type="text" class="form-control" id="shipping-address-detail"
                                               placeholder="배송지 상세주소를 입력하세요"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="shipping-address">우편번호</label>
                                        <input type="text" class="form-control" id="shipping-zipcode"
                                               placeholder="주소명 찾기를 이용하세요." readonly/>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 모달 창 -->
                    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addressModalLabel">주소 목록</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- 주소 목록을 여기에 동적으로 출력할 예정 -->
                                    <ul id="addressList" class="list-group">
                                        <!-- 주소 목록 항목들이 동적으로 여기에 추가될 예정 -->
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 주문 상세 정보 -->
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <h5 class="mb-0">
                                <button
                                        class="btn btn-link accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOrderDetails"
                                        aria-expanded="false"
                                        aria-controls="collapseOrderDetails"
                                >
                                    주문 상세
                                </button>
                            </h5>
                            <div
                                    id="collapseOrderDetails"
                                    class="collapse"
                                    aria-labelledby="headingOrderDetails"
                            >

                                <div class="card-body">
                                    <br/>
                                    <h4>주문 품목</h4>
                                    <table class="table table-borderless">
                                        <tbody>
                                        <!-- 상품 항목 1 -->
                                        <tr th:each="book : ${orderInformation.bookOrderResponse}">
                                            <td class="d-flex align-items-center">
                                                <!-- 썸네일 -->
                                                <img th:src="@{${book.thumbnailImageUrl}}" class="img-fluid mr-3"
                                                     alt="상품 이미지">
                                            </td>
                                            <td>
                                                <h6 class="mb-1" th:text="${book.title()}">테스트 책 이름</h6>
                                            </td>
                                            <td>
                                                <!-- 상품 정보 -->
                                                <div>
                                                    <div>가격: <span class="original-price" th:text="${book.price}">20,000원</span>
                                                    </div>
                                                    <div>세일가: <span class="sale-price"
                                                                    th:text="${book.price}">15,000원</span></div>
                                                    <div>총합 가격: <span class="book-total-price"
                                                                      th:text="${book.bookTotalPrice}">15,000원</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mt-2">
                                                    <label for="item-quantity">수량:</label>
                                                    <span class="item-quantity" id="item-quantity"
                                                          th:text="${book.quantity}">1개</span>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!-- 총합 -->
                                    <div class="text-right">
                                        <p>총 주문 품목: <span id="total-items">2</span>개</p>
                                    </div>
                                    <br/>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- 결제 UI -->
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <h5 class="mb-0">
                                <button
                                        class="btn btn-link accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapsePayment"
                                        aria-expanded="false"
                                        aria-controls="collapsePayment"
                                >
                                    결제
                                </button>
                            </h5>
                            <div
                                    id="collapsePayment"
                                    class="collapse"
                                    aria-labelledby="headingPayment"
                            >
                                <div class="card-body">
                                    <h4>결제 정보</h4>
                                    <br/>
                                    <div id="payment-method"></div> <!-- 결제 UI 영역 -->
                                    <div id="agreement"></div> <!-- 이용약관 UI -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 쿠폰 포인트 -->
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <h5 class="mb-0">
                                <button
                                        class="btn btn-link accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseCouponPointInfo"
                                        aria-expanded="false"
                                        aria-controls="collapseCouponPointInfo"
                                >
                                    쿠폰 & 포인트
                                </button>
                            </h5>
                            <div
                                    id="collapseCouponPointInfo"
                                    class="collapse"
                                    aria-labelledby="headingCouponPointInfo"
                            >
                                <div class="card-body">
                                    <br/>
                                    <h4>포인트 정보</h4>
                                    <br/>
                                    <!-- 포인트 정보 -->
                                    <div class="form-group">
                                        <label class="font-weight-bold">사용할 포인트</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="usedPoints" name="usedPoints"
                                                   placeholder="사용할 포인트 입력" min="0" value="0">
                                            <button class="btn btn-secondary" type="button" id="applyPointsBtn">사용
                                            </button>
                                            <button class="btn btn-secondary" type="button" id="useAllPointsBtn">전액 사용
                                            </button>
                                        </div>
                                        <small class="form-text text-muted">사용가능 포인트: <span id="availablePoints"
                                                                                            th:text="${orderInformation.point}">1000</span>
                                            포인트</small>
                                    </div>
                                    <br/>
                                    <br/>

                                    <h4>쿠폰 정보</h4>
                                    <!-- 쿠폰 정보 -->
                                    <div class="form-group">
                                        <label class="font-weight-bold">주문에 적용 가능한 쿠폰</label>
                                        <ul id="availableCoupons" class="list-group">
                                            <!-- 예시: 쿠폰 리스트 -->
                                            <li class="list-group-item">
                                                <input type="checkbox" id="coupon1" name="coupons" value="coupon1">
                                                <label for="coupon1">10% 할인 쿠폰</label>
                                            </li>
                                            <li class="list-group-item">
                                                <input type="checkbox" id="coupon2" name="coupons" value="coupon2">
                                                <label for="coupon2">5000원 할인 쿠폰</label>
                                            </li>
                                            <!-- 추가되는 쿠폰 목록 -->
                                        </ul>
                                        <br/>
                                    </div>
                                    <br/>

                                    <div class="form-group">
                                        <label class="font-weight-bold">상품에 적용 가능한 쿠폰</label>
                                        <ul id="productCoupons" class="list-group">
                                            <!-- 예시: 상품에 적용할 수 있는 쿠폰 리스트 -->
                                            <li class="list-group-item">
                                                <input type="checkbox" id="productCoupon1" name="productCoupons"
                                                       value="productCoupon1">
                                                <label for="productCoupon1">2,000원 할인 쿠폰</label>
                                            </li>
                                            <li class="list-group-item">
                                                <input type="checkbox" id="productCoupon2" name="productCoupons"
                                                       value="productCoupon2">
                                                <label for="productCoupon2">3,000원 할인 쿠폰</label>
                                            </li>
                                            <!-- 추가되는 상품 쿠폰 목록 -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 배송 날짜 예약 -->
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <h5 class="mb-0">
                                <button
                                        class="btn btn-link accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseShippingDate"
                                        aria-expanded="false"
                                        aria-controls="collapseShippingDate"
                                >
                                    배송 날짜 예약
                                </button>
                            </h5>
                            <div
                                    id="collapseShippingDate"
                                    class="collapse"
                                    aria-labelledby="headingShippingDate"
                            >
                                <div class="card-body">
                                    <br/>
                                    <h4>배송 예약 날짜 선택</h4>
                                    <br/>

                                    <ul class="list-group d-flex">
                                        <li class="list-group-item">
                                            <input type="radio" id="deliveryTomorrow" name="deliveryDate"
                                                   value="deliveryTomorrow" checked>
                                            <label for="deliveryTomorrow">내일 (<span id="dateTomorrow"></span>)</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input type="radio" id="deliveryDayAfter" name="deliveryDate"
                                                   value="deliveryDayAfter">
                                            <label for="deliveryDayAfter">내일 모레 (<span
                                                    id="dateDayAfter"></span>)</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input type="radio" id="deliveryTwoDaysAfter" name="deliveryDate"
                                                   value="deliveryTwoDaysAfter">
                                            <label for="deliveryTwoDaysAfter">글피 (<span
                                                    id="dateTwoDaysAfter"></span>)</label>
                                        </li>
                                    </ul>


                                    <br/>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- 오른쪽: 결제 금액 -->
            <div class="col-md-3">
                <div id="payment-amount-container">
                    <h5>결제 금액</h5>
                    <div class="form-group">
                        <!-- 배송비 -->
                        <div class="mb-3">
                            <label for="shipping-cost" class="font-weight-bold">배송비</label>
                            <div id="shipping-cost" th:text="${orderInformation.shippingFee}">3000</div>
                        </div>

                        <!-- 도서 전체 금액 -->
                        <div class="mb-3">
                            <label for="book-list-amount" class="font-weight-bold">도서 전체 금액</label>
                            <div id="book-list-amount">3000</div>
                        </div>

                        <!-- 포인트 -->
                        <div class="mb-3">
                            <label for="use-point" class="font-weight-bold">사용 포인트</label>
                            <div id="use-point">0</div>
                        </div>

                        <!-- 총 결제 금액 -->
                        <div class="mb-3">
                            <label for="total-amount" class="font-weight-bold">총 결제 금액</label>
                            <div type="text" class="form-control" id="total-amount">111</div>
                        </div>
                    </div>


                    <!-- 결제 금액 업데이트 처리 -->
                    <div class="mt-3">
                        <button class="btn btn-primary" id="payment-button">결제하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content -->

    <!-- Script -->
    <th:block layout:fragment="script">
        <script>

            const orderDetails = /*[[${orderInformation.bookOrderResponse}]]*/ [];
            const shippingId = /*[${orderInformation.shippingId}]*/ 1;
            main();

            // 토스 payments 결제
            async function main() {

                const totalCount = countBooks();
                const totalPrice = calculateTotalPrice();

                const button = document.getElementById("payment-button");
                const coupon = document.getElementById("order-coupon-list");
                document.getElementById("total-items").textContent = totalCount;

                const amount = {
                    currency: "KRW",
                    value: totalPrice,
                };

                // ------  결제위젯 초기화 ------
                // TODO: clientKey는 개발자센터의 결제위젯 연동 키 > 클라이언트 키로 바꾸세요.
                // TODO: 구매자의 고유 아이디를 불러와서 customerKey로 설정하세요. 이메일・전화번호와 같이 유추가 가능한 값은 안전하지 않습니다.
                // @docs https://docs.tosspayments.com/sdk/v2/js#토스페이먼츠-초기화
                const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
                const customerKey = generateRandomString();
                const tossPayments = TossPayments(clientKey);

                // 회원 결제
                // const widgets = tossPayments.widgets({
                //     customerKey,
                // });

                // 비회원 결제
                const widgets = tossPayments.widgets({customerKey: TossPayments.ANONYMOUS});

                // ------  주문서의 결제 금액 설정 ------
                // TODO: 위젯의 결제금액을 결제하려는 금액으로 초기화하세요.
                // TODO: renderPaymentMethods, renderAgreement, requestPayment 보다 반드시 선행되어야 합니다.
                await widgets.setAmount(amount);

                // ------  결제 UI 렌더링 ------
                // @docs https://docs.tosspayments.com/sdk/v2/js#widgetsrenderpaymentmethods
                await widgets.renderPaymentMethods({
                    selector: "#payment-method",
                    // 렌더링하고 싶은 결제 UI의 variantKey
                    // 결제 수단 및 스타일이 다른 멀티 UI를 직접 만들고 싶다면 계약이 필요해요.
                    // @docs https://docs.tosspayments.com/guides/v2/payment-widget/admin#새로운-결제-ui-추가하기
                    variantKey: "DEFAULT",
                });

                // ------  이용약관 UI 렌더링 ------
                // @docs https://docs.tosspayments.com/reference/widget-sdk#renderagreement선택자-옵션
                await widgets.renderAgreement({selector: "#agreement", variantKey: "AGREEMENT"});

                // ------  주문서의 결제 금액이 변경되었을 경우 결제 금액 업데이트 ------
                // @docs https://docs.tosspayments.com/sdk/v2/js#widgetssetamount
                // coupon.addEventListener("change", async function () {
                //     if (coupon.checked) {
                //         await widgets.setAmount({
                //             currency: "KRW",
                //             value: amount.value - 5000,
                //         });
                //
                //         return;
                //     }
                //
                //     await widgets.setAmount({
                //         currency: "KRW",
                //         value: amount,
                //     });
                // });

                const selectedRadio = document.querySelector('input[name="deliveryDate"]:checked');
                let selectedDate = null;

                if (selectedRadio) {
                    switch (selectedRadio.value) {
                        case 'deliveryTomorrow':
                            selectedDate = formatDate(1);
                            break;
                        case 'deliveryDayAfter':
                            selectedDate = formatDate(2);
                            break;
                        case 'deliveryTwoDaysAfter':
                            selectedDate = formatDate(3);
                            break;
                    }
                }

                let currentDate = new Date();
                const formattedDate = `${currentDate.getFullYear()}-${(currentDate.getMonth() + 1).toString().padStart(2, '0')}-${currentDate.getDate().toString().padStart(2, '0')} ${currentDate.getHours().toString().padStart(2, '0')}:${currentDate.getMinutes().toString().padStart(2, '0')}:${currentDate.getSeconds().toString().padStart(2, '0')}`;

                // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
                // @docs https://docs.tosspayments.com/sdk/v2/js#widgetsrequestpayment
                button.addEventListener("click", async function () {

                    // 주문 임시 저장 용 데이터
                    // 1. 책 정보
                    const bookList = processOrderDetails();
                    // 2. 배송 정보
                    const shippingRegister = {
                        ShippingPolicyId: shippingId,
                        recipientName: document.getElementById('shipping-name').value,
                        recipientAddress: document.getElementById('shipping-address').value,
                        recipientAddressDetail: document.getElementById('shipping-address-detail').value,
                        recipientZipcode: document.getElementById('shipping-zipcode').value,
                        recipientPhoneNumber: document.getElementById('shipping-phone-number').value,
                        senderName: document.getElementById('customer-name').textContent,
                        senderPhoneNumber: document.getElementById('customer-phone').textContent
                    };

                    // 임시 주문 정보
                    const orderData = {
                        paymentPrice: amount.value,  // 총 결제 금액
                        wrappingPrice: 2000,   // 포장 비용 예시 - todo: 이후 id로 변경하기
                        orderedAt: formattedDate, // 현재 시간을 ISO 형식으로
                        expectedDeliveryAt: selectedDate,
                        orderDetails: bookList,  // 주문 상세
                        shippingRegister: shippingRegister,  // 배송 정보
                        customerRegister: null, // 회원 정보
                        usingPoint: 0,
                        allAppliedCoupon: null,
                        wrapping: null
                    };

                    console.log(JSON.stringify(orderData));
                    // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
                    // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
                    try {
                        const apiUrl = window.location.origin + "/orders/save";
                        const response = await fetch(apiUrl, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(orderData),
                        });

                        const result = await response.json();
                        console.log(result);

                        if (response.ok) {
                            await widgets.requestPayment({
                                orderId: generateRandomString(),
                                orderName: "도서주문 건",
                                successUrl: window.location.origin + "/orders/success",
                                failUrl: window.location.origin + "/orders/fail",
                                customerEmail: document.getElementById('customer-email').textContent,
                                customerName: document.getElementById('customer-name').textContent,
                                customerMobilePhone: document.getElementById('customer-phone').textContent,
                            });
                        } else {
                            throw new Error("주문 정보를 저장하는 데 실패했습니다.");
                        }

                    } catch (error) {
                        console.error('주문 정보 저장 중 오류 발생:', error);
                        alert('주문 저장 실패. 다시 시도해주세요.');
                    }

                });
            }

            // 주문번호 랜덤
            function generateRandomString() {
                return window.btoa(Math.random()).slice(0, 20);
            }

            // 결제 금액 얻어오기
            function getAllSalePrices() {
                const salePriceElements = document.querySelectorAll('.book-total-price');
                const salePrices = Array.from(salePriceElements).map(element => {
                    return parseInt(element.textContent.replace(/[^\d]/g, ''));
                })

                console.log("순수 책 가격: " + salePrices);  // 예시: [15000, 15000]
                return salePrices;
            }

            // 숫자 포맷팅 함수 (천 단위 구분자 추가)
            function formatPrice(price) {
                return price.toLocaleString() + "원";  // 예: 50000 => "50,000원"
            }

            // 총 결제 금액을 계산하고 input 필드에 값을 넣기
            function calculateTotalPrice() {
                const salePrices = getAllSalePrices();  // 모든 세일가 값을 가져옴
                const shippingPrice = document.getElementById('shipping-cost').textContent // 배송비
                const usePoint = updateFinalPrice();
                let bookListPrice = salePrices.reduce((total, price) => total + price, 0);
                console.log("사용: %d", usePoint);
                let totalPrice = bookListPrice + parseInt(shippingPrice, 10) - usePoint; // 총 결제 금액 계산

                // 총 결제 금액을 포맷하여 input 필드에 넣기
                const formattedPrice1 = formatPrice(bookListPrice);
                const formattedPrice2 = formatPrice(totalPrice);  // 포맷된 가격
                document.getElementById('book-list-amount').textContent = formattedPrice1;
                document.getElementById('total-amount').textContent = formattedPrice2; // 최종값이라 쿠폰, 배송비도 지원할 것

                console.log("배송비: " + shippingPrice);
                console.log("총 결제 가격: " + totalPrice);
                return totalPrice;  // 포맷된 가격 반환
            }

            // 주문한 책 총 갯수
            function countBooks() {
                let totalCount = 0;

                const itemQuantities = document.querySelectorAll('.item-quantity');

                itemQuantities.forEach(span => {
                    const quantity1 = parseInt(span.textContent, 10); // 수량 가져오기
                    if (isNaN(quantity1)) {
                        console.error("Invalid quantity: ", span.textContent || span.value);
                        return;  // 수량이 유효하지 않으면 건너뜁니다.
                    }
                    totalCount += quantity1; // 총 품목 수에 더하기
                });

                return totalCount;

            }

            // 포인트 사용
            function updateFinalPrice() {
                const finalPointLabel = document.getElementById('use-point');
                const usedPointsField = document.getElementById('usedPoints');
                const availablePoints = parseInt(document.getElementById('availablePoints').textContent, 10);

                // "전액 사용" 버튼 클릭 시 사용 가능한 포인트 값을 입력
                document.getElementById('useAllPointsBtn').addEventListener('click', function () {
                    usedPointsField.value = availablePoints; // 잔여 포인트를 입력 필드에 자동으로 입력
                    finalPointLabel.textContent = availablePoints.toString();
                    updateFinalPrice(); // 결제 금액 업데이트
                    calculateTotalPrice();
                });

                // 사용을 클릭하면 잔여 포인트를 초과하지 않도록 제한
                document.getElementById('applyPointsBtn').addEventListener('click', function () {
                    let value = usedPointsField.value;
                    value = value.replace(/[^0-9]/g, '');
                    usedPointsField.value = value;

                    let usedPoints = parseInt(usedPointsField.value, 10) || 0;

                    // 음수 값 입력 방지
                    if (usedPoints < 0) {
                        usedPointsField.value = 0;
                        usedPoints = 0;
                    }

                    // 잔여 포인트를 초과하는 값 입력 방지
                    if (usedPoints > availablePoints) {
                        usedPointsField.value = availablePoints;
                        usedPoints = availablePoints;
                    }

                    finalPointLabel.textContent = usedPoints.toString();
                    // 최종 결제 금액 반영
                    calculateTotalPrice();
                });

                // 최종 결제 금액 업데이트
                return parseInt(usedPointsField.value, 10);

            }

            // 도서 목록
            function processOrderDetails() {
                // 새로운 리스트 만들기 예시: 총합 가격 계산
                return orderDetails.map(function (book) {
                    return {
                        bookId: book.bookId,
                        count: book.quantity,
                        unitPrice: book.salePrice,
                        isWrapped: book.isPackageable,
                        BookAppliedCouponRequestStub: null
                    };
                });
            }

            // 날짜 계산 함수
            function formatDate(offset) {
                const today = new Date();
                today.setDate(today.getDate() + offset);

                const year = today.getFullYear();
                const month = today.getMonth() + 1;  // 0부터 시작하므로 +1
                const day = today.getDate();

                // 날짜 형식을 YYYY-MM-DD로 설정
                return `${year}-${month < 10 ? '0' + month : month}-${day < 10 ? '0' + day : day}`;
            }

            // 날짜 업데이트
            document.getElementById('dateTomorrow').innerText = formatDate(1);
            document.getElementById('dateDayAfter').innerText = formatDate(2);
            document.getElementById('dateTwoDaysAfter').innerText = formatDate(3);


            // 도로명 주소 처리
            function daumPostcode() {
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J) 도로명 주소로 변경한다.
                            addr = data.roadAddress;
                        }

                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("shipping-address").value = addr + " " + extraAddr;

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('shipping-zipcode').value = data.zonecode;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("shipping-address-detail").focus();
                    }
                }).open();

            }
        </script>
    </th:block>
</div>
</html>