<html lang="en" layout:decorate="~{admin/layout/adminlayout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">
    <div th:replace="~{admin/fragment/js-utils::utils}"></div>
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">태그 관리</h2>
            </div>
            <div class="card-body">
                <div id="register-modal" th:replace="~{admin/tag/modal/register_modal::register_modal}"></div>

                <table class="table table-hover" id="data-table">
                    <thead class="table-light">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">태그 이름</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tag : ${pages}">
                        <td class="text-center" th:text="${tag.id}">ID</td>
                        <td class="text-center" th:text="${tag.name}">태그 이름</td>
                        <td class="text-end">
                            <!-- 수정 버튼 -->
                            <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                    th:onclick="'openModal(\'update-modal\', '+ ${tag.id} +')'">
                                <i class="fas fa-edit me-2"></i>수정
                            </button>
                            <!-- 삭제 버튼 -->
                            <a class="btn btn-outline-secondary btn-sm"
                               th:onclick="'openModal(\'delete-modal\', '+ ${tag.id} +')'">
                                <i class="fas fa-trash-alt me-2"></i>삭제
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(pages.content)}">
                        <td class="text-center text-muted" colspan="3">등록된 태그가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/page::page}"></div>

        </div>
    </div>

    <div th:replace="~{admin/tag/modal/update_modal::update_modal}"></div>
    <div th:replace="~{admin/tag/modal/delete_modal::delete_modal}"></div>
</div>
</body>
</html>
