<!DOCTYPE html>
<html
        layout:decorate="~{layouts/layout1}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<!-- layout1.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content">
    <main class="row">
        <!-- Slider -->
        <div class="col-12 px-0">
            <div class="carousel slide w-100" data-bs-ride="carousel" id="slider">
                <ol class="carousel-indicators">
                    <li class="active" data-bs-slide-to="0" data-bs-target="#slider"></li>
                    <li data-bs-slide-to="1" data-bs-target="#slider"></li>
                    <li data-bs-slide-to="2" data-bs-target="#slider"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="slider-img" src="/images/slider-1.png">
                    </div>
                    <div class="carousel-item">
                        <img class="slider-img" src="/images/slider-2.png">
                    </div>
                    <div class="carousel-item">
                        <img class="slider-img" src="/images/slider-3.png">
                    </div>
                </div>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#slider"
                        type="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#slider"
                        type="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Slider -->

        <div class="col-12">
            <hr>
        </div>



        <div class="col-12 text-center text-uppercase">
            <h2 class="section-title">누리의 서재 독자들이 좋아하는 도서 Top 8</h2>
        </div>

        <div id="carouselExample" class="carousel slide carousel-container">
            <div class="carousel-inner">

                <div th:each="group, iterStat : ${likeGroups}" th:class="'carousel-item' + (${iterStat.index == 0} ? ' active' : '')">
                    <div class="product-list">
                        <!-- 그룹 내 도서 반복 -->
                        <div class="product-item" th:each="book : ${group}">
                            <div class="thumbnail-container">
                                <a th:href="@{/view/book/details/{bookId}(bookId=${book.bookId})}">
                                    <img alt="도서 이미지" th:src="${#strings.replace(book.thumbnailUrl, 'cover500', 'cover200')}">
                                </a>
                            </div>
                            <a class="product-name" th:href="@{/view/book/details/{bookId}(bookId=${book.bookId})}" th:text="${book.title}">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 네비게이션 버튼 -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">이전</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">다음</span>
            </button>
        </div>


        <div class="col-12">
            <hr>
        </div>

        <!-- Top Scores (Recommended) Section -->
        <div class="col-12 text-center text-uppercase">
            <h2 class="section-title">누리의 서재 독자들이 추천하는 도서 Top 8</h2>
        </div>

        <div id="carouselTopScores" class="carousel slide carousel-container">
            <div class="carousel-inner">
                <div th:each="group, iterStat : ${scoreGroups}" th:class="'carousel-item' + (${iterStat.index == 0} ? ' active' : '')">
                    <div class="product-list">
                        <!-- 그룹 내 도서 반복 -->
                        <div class="product-item" th:each="book : ${group}">
                            <div class="thumbnail-container">
                                <a th:href="@{/view/book/details/{bookId}(bookId=${book.bookId})}">
                                    <img alt="도서 이미지" th:src="${#strings.replace(book.thumbnailUrl, 'cover500', 'cover200')}" />
                                </a>
                            </div>
                            <a class="product-name" th:href="@{/view/book/details/{bookId}(bookId=${book.bookId})}" th:text="${book.title}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 네비게이션 버튼 -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTopScores" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">이전</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTopScores" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">다음</span>
            </button>
        </div>
        <!-- Top Scores (Recommended) Section -->

    </main>
    <!-- Main Content -->
</div>
</html>