<html lang="en" layout:decorate="~{member/layout/memberlayout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">나의 주소 목록</h2>
            </div>
            <div class="card-body">
                <div class="text-end mb-4">
                    <a class="btn btn-outline-secondary btn-sm" href="/api/member/address">
                        <i class="fas fa-plus-circle me-2"></i>주소 등록
                    </a>
                    <h2 class="text-center text-uppercase mb-4">주소 목록</h2>
                    <table class="table table-hover">
                        <thead class="table-light">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">별칭</th>
                            <th class="text-center">우편번호</th>
                            <th class="text-center">도로명주소</th>
                            <th class="text-center">상세주소</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="address : ${addressList}">
                            <td class="text-center" th:text="${address.id}"></td>
                            <td class="text-center" th:text="${address.name}"></td>
                            <td class="text-center" th:text="${address.zipcode}"></td>
                            <td class="text-center" th:text="${address.address}"></td>
                            <td class="text-center" th:text="${address.detailAddress}"></td>
                            <td>
                                <!-- 수정 버튼 -->
                                <a class="btn btn-outline-secondary btn-sm"
                                   th:href="@{api/member/address/{address-id}(address-id=${address.id})}">
                                    <i class="fas fa-edit me-2"></i>수정
                                </a>
                                <!-- 삭제 버튼 -->
                                <form method="post"
                                      style="display:inline;"
                                      th:action="@{api/member/address/{address-id}(address-id=${address.id})}">
                                    <input name="_method" type="hidden" value="DELETE">
                                    <button class="btn btn-outline-secondary btn-sm" type="submit">
                                        <i class="fas fa-trash-alt me-2"></i>삭제
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--                    <div th:replace="fragments/page::page(url=${'/api/member/me/address'})"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
