<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <title>도서 목록</title>
</head>

<div layout:fragment="content">
    <h1>도서 목록</h1>
    <table class="table">
        <thead>
        <tr>
            <th>이미지</th>
            <th>제목</th>
            <th>출판사</th>
            <th>정가</th>
            <th>할인가</th>
            <th>상태</th>
            <th>재고</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books.content}">
            <td><img th:src="${book.thumbnailImageUrl}" alt="도서 이미지" width="100"></td>
            <td th:text="${book.title}">제목</td>
            <td th:text="${book.publisherName}">출판사</td>
            <td th:text="${#numbers.formatDecimal(book.price, 0)}">정가</td>
            <td th:text="${book.salePrice}">할인가</td>
            <td th:text="${book.state}">상태</td>
            <td th:text="${book.stock}">재고</td>
        </tr>
        </tbody>
    </table>

    <div>
        <a th:href="@{/api/view/books(page=${books.page - 1}, size=${books.size})}" th:if="${books.page > 0}">이전</a>
        <span th:text="${books.page + 1}">1</span> / <span th:text="${books.totalPages}">1</span>
        <a th:href="@{/api/view/books(page=${books.page + 1}, size=${books.size})}" th:if="${books.page < books.totalPages - 1}">다음</a>
    </div>
</div>
</html>
