<html lang="en" layout:decorate="~{member/layout/memberlayout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">회원 정보</h2>
            </div>
            <div class="card-body">
                <div class="profile-header mb-4">
                    <div class="profile-info">
                        <div class="profile-item">
                            <span>이름:</span>
                            <p class="value" th:text="${member.name}"></p>
                        </div>
                        <div class="profile-item">
                            <span>아이디:</span>
                            <p class="value" th:text="${member.username}"></p>
                        </div>
                        <div class="profile-item">
                            <span>전화번호:</span>
                            <p class="value" th:text="${member.phoneNumber}"></p>
                        </div>
                        <div class="profile-item">
                            <span>이메일:</span>
                            <p class="value" th:text="${member.email}"></p>
                        </div>
                        <div class="profile-item">
                            <span>포인트:</span>
                            <p class="value" th:text="${member.point} + '원'"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 회원 등급 정보 카드 -->
            <div class="card shadow-sm">
                <div class="card-header bg-secondary text-white">
                    <h3 class="mb-0">회원 등급 정보</h3>
                </div>
                <div class="card-body">
                    <div class="profile-item">
                        <span>등급명:</span>
                        <p class="value" th:text="${member.gradeName}"></p>
                    </div>
                    <div class="profile-item">
                        <span>등급 혜택:</span>
                        <p class="value" th:text="${'최종 결제금액의 ' + member.pointRate + '퍼센트가 포인트로 적립됩니다.'}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
