<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content">
    <!-- Main Content -->
    <div class="row">
        <div class="col-12 mt-3 text-center text-uppercase">
            <h2>회원 가입</h2>
        </div>
    </div>

    <main class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto bg-light rounded shadow py-4 mb-4">
            <div class="text-center mb-4">
                <p>Please fill in your details to register.</p>
            </div>
            <form class="row" id="register_form" method="post" th:action="@{/sign-up}">
                <div class="col-md-12 form-group mb-3">
                    <label for="username">아이디</label>
                    <input class="form-control" id="username" name="username" onblur="this.placeholder = '아이디'"
                           onfocus="this.placeholder = ''" placeholder="아이디"
                           required th:value="${userRequest?.username ?: ''}" type="text">
                    <small class="form-text text-muted" id="usernameError" style="display:none;"></small>
                </div>
                <div class="col-md-12 form-group mb-3">
                    <label>성별:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="male" name="gender" type="radio" value="MALE">
                        <label class="form-check-label" for="male">남성</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="female" name="gender" type="radio" value="FEMALE">
                        <label class="form-check-label" for="female">여성</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input checked class="form-check-input" id="other" name="gender" type="radio" value="OTHER">
                        <label class="form-check-label" for="other">기타</label>
                    </div>
                </div>
                <div class="col-md-12 form-group mb-3">
                    <label for="name">이름</label>
                    <input class="form-control" id="name" name="name" onblur="this.placeholder = '이름'"
                           onfocus="this.placeholder = ''" placeholder="이름"
                           required th:value="${userRequest?.name ?: ''}" type="text">
                    <small class="form-text text-muted" id="nameError" style="display:none;"></small>
                </div>
                <div class="col-md-12 form-group mb-3">
                    <label for="email">이메일 주소</label>
                    <input class="form-control" id="email" name="email" onblur="this.placeholder = '이메일 주소'"
                           onfocus="this.placeholder = ''" placeholder="이메일 주소"
                           required th:value="${userRequest?.email ?: ''}" type="email">
                    <small class="form-text text-muted" id="emailError" style="display:none;"></small>
                </div>
                <div class="col-md-6 form-group mb-3">
                    <label for="password">비밀번호</label>
                    <input class="form-control" id="password" name="password" onblur="this.placeholder = '비밀번호'"
                           onfocus="this.placeholder = ''" placeholder="비밀번호"
                           required type="password">
                    <small class="form-text text-muted" id="passwordError" style="display:none;"></small>
                </div>
                <div class="col-md-6 form-group mb-3">
                    <label for="confirmPassword">비밀번호 확인</label>
                    <input class="form-control" id="confirmPassword" name="confirmPassword"
                           onblur="this.placeholder = '비밀번호 확인'"
                           onfocus="this.placeholder = ''" placeholder="비밀번호 확인"
                           required type="password">
                    <small class="form-text text-muted" id="passwordMatchError" style="display:none;"></small>
                </div>
                <div class="col-md-12 form-group mb-3">
                    <label for="phoneNumber">전화번호</label>
                    <input class="form-control" id="phoneNumber" name="phoneNumber" onblur="this.placeholder = '전화번호'"
                           onfocus="this.placeholder = ''" placeholder="전화번호"
                           required th:value="${userRequest?.phoneNumber ?: ''}" type="text">
                    <small class="form-text text-muted" id="phoneNumberError" style="display:none;"></small>
                </div>
                <div class="col-md-12 form-group mb-3">
                    <label for="birthday">생일</label>
                    <input class="form-control" id="birthday" name="birthday" onblur="this.placeholder = '생일'"
                           onfocus="this.placeholder = ''" required
                           th:value="${userRequest?.birthday ?: ''}" type="date">
                    <small class="form-text text-muted" id="birthdayError" style="display:none;"></small>
                </div>
                <div class="col-md-12 form-group mb-3">
                    <button class="btn btn-primary w-100" type="submit">회원가입</button>
                </div>
            </form>
        </div>
    </main>
</div>
<!-- Main Content -->

<!-- Script -->
<th:block layout:fragment="script">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("register_form");
            const errorMessage = document.getElementById("errorMessage");
            const errorToastElement = document.getElementById("errorToast")
            const errorToast = new bootstrap.Toast(errorToastElement);
            errorToast.hide();

            form.addEventListener("submit", function (event) {
                let valid = true;

                // 각 필드 유효성 검증
                if (!validateUsername() || !validatePassword() || !validatePasswordMatch() || !validateName()
                    || !validateEmail() || !validatePhoneNumber() || !validateBirthday()) {
                    errorMessage.textContent = "입력 정보가 올바르지 않습니다.";
                    valid = false;
                }

                // 유효하지 않으면 오류 메시지 표시하고 폼 제출 중지
                if (!valid) {
                    event.preventDefault();
                    errorToastElement.style.display = "block";
                    errorToast.show();
                }
            });
        });

        // 아이디 유효성 검사
        function validateUsername() {
            const usernameField = document.getElementById('username');
            const usernameError = document.getElementById('usernameError');
            const username = usernameField.value;

            const usernamePattern = /^(?=.*[a-z])(?=.*[0-9])[a-z0-9]{8,20}$/; // 8~20자 영문자, 숫자만 가능

            if (!usernamePattern.test(username)) {
                usernameError.style.display = 'block';
                usernameError.textContent = "아이디는 8자 이상 20자 이하, 영어 소문자와 숫자가 각각 1개 이상 포함되어야 합니다.";
                usernameField.style.borderColor = "red";
                return false;
            } else {
                usernameError.style.display = 'none';
                usernameField.style.borderColor = "";
                return true;
            }
        }

        // 비밀번호 유효성 검사
        function validatePassword() {
            const passwordField = document.getElementById('password');
            const passwordError = document.getElementById('passwordError');
            const password = passwordField.value;

            // 비밀번호 정규식 (영문자와 숫자와 특수문자가 각각 최소 1개 이상 포함)
            const passwordPattern = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,20}$/;

            if (!passwordPattern.test(password)) {
                passwordError.style.display = 'block';
                passwordError.textContent = "비밀번호는 8자 이상 20자 이하, 영문자, 숫자, 특수문자가 각각 1개 이상 포함되어야 합니다.";
                passwordField.style.borderColor = "red";
                return false;
            } else {
                passwordError.style.display = 'none';
                passwordField.style.borderColor = "";
                return true;
            }
        }

        // 비밀번호 일치 여부 확인
        function validatePasswordMatch() {
            const password = document.getElementById('password').value;
            const confirmPasswordField = document.getElementById('confirmPassword');
            const confirmPassword = confirmPasswordField.value;
            const passwordMatchError = document.getElementById('passwordMatchError');

            if (password !== confirmPassword) {
                passwordMatchError.style.display = 'block';
                passwordMatchError.textContent = "비밀번호가 일치하지 않습니다.";
                confirmPasswordField.style.borderColor = "red";
                return false;
            } else {
                passwordMatchError.style.display = 'none';
                confirmPasswordField.style.borderColor = "";
                return true;
            }
        }

        // 이름 유효성 검사
        function validateName() {
            const nameField = document.getElementById('name');
            const nameError = document.getElementById('nameError');
            const name = nameField.value;

            // 이름 길이 검증
            const namePattern = /^[a-zA-Z가-힣]{2,30}$/;

            if (!namePattern.test(name)) {
                nameError.style.display = 'block';
                nameError.textContent = "사용자 이름은 영문자와 완성형 한글만 포함하여 2자 이상 30자 이하로 입력해야 합니다.";
                nameField.style.borderColor = "red";
                return false;
            } else {
                nameError.style.display = 'none';
                nameField.style.borderColor = "";
                return true;
            }
        }

        // 이메일 유효성 검사
        function validateEmail() {
            const emailField = document.getElementById('email');
            const emailError = document.getElementById('emailError');
            const email = emailField.value;

            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

            if (!emailPattern.test(email) || email.length > 30) {
                emailError.style.display = 'block';
                emailError.textContent = "유효한 이메일 주소를 입력하세요.";
                emailField.style.borderColor = "red";
                return false;
            } else {
                emailError.style.display = 'none';
                emailField.style.borderColor = "";
                return true;
            }
        }

        // 전화번호 유효성 검사
        function validatePhoneNumber() {
            const phoneNumberField = document.getElementById('phoneNumber');
            const phoneNumberError = document.getElementById('phoneNumberError');
            const phoneNumber = phoneNumberField.value;

            const phoneNumberPattern = /^010\d{8}$/;

            if (!phoneNumberPattern.test(phoneNumber)) {
                phoneNumberError.style.display = 'block';
                phoneNumberError.textContent = "휴대전화 번호는 '-' 없이 '010'으로 시작하는 11자리의 숫자로 입력해야 합니다.";
                phoneNumberField.style.borderColor = "red";
                return false;
            } else {
                phoneNumberError.style.display = 'none';
                phoneNumberField.style.borderColor = "";
                return true;
            }
        }

        // 생일 검사
        function validateBirthday() {
            const birthdayField = document.getElementById('birthday');
            const birthdayError = document.getElementById('birthdayError');
            const birthday = birthdayField.value;

            // 현재 날짜를 YYYY-MM-DD 형식으로 가져옵니다.
            const currentDate = new Date();
            const currentDateString = currentDate.toISOString().split('T')[0]; // "YYYY-MM-DD" 형식으로 변환

            if (!birthday) {
                birthdayError.style.display = 'block';
                birthdayError.textContent = "생일을 입력하세요.";
                birthdayField.style.borderColor = "red";
                return false;
            }

            // 사용자가 입력한 생일이 현재 날짜보다 앞선 날짜인지 확인
            if (birthday > currentDateString) {
                birthdayError.style.display = 'block';
                birthdayError.textContent = "생일은 현재날짜를 앞설 수 없습니다.";
                birthdayField.style.borderColor = "red";
                return false;
            } else {
                birthdayError.style.display = 'none';
                birthdayField.style.borderColor = "";
                return true;
            }
        }

        // 실시간 유효성 검사
        document.getElementById('username').addEventListener('input', validateUsername);
        document.getElementById('password').addEventListener('input', validatePassword);
        document.getElementById('confirmPassword').addEventListener('input', validatePasswordMatch);
        document.getElementById('name').addEventListener('input', validateName);
        document.getElementById('email').addEventListener('input', validateEmail);
        document.getElementById('phoneNumber').addEventListener('input', validatePhoneNumber);
        document.getElementById('birthday').addEventListener('input', validateBirthday);

    </script>
</th:block>
<!-- Script -->
</html>
