<div th:fragment="update_modal">
    <script>
        const updateHandler = (url) => {
            // url과 id로 이루어진 path로 api 요청 보냄. 다른 url 형식일 땐 수정하여야함.
            const form = document.getElementById('update-form');

            const formData = new FormData(form);

            fetch(url + "/" + data, {
                method: 'PUT',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        response.json().then(data => {
                            showMessage("수정 실패 \n" + data.message)
                        });
                    } else {
                        refreshList();
                        showMessage();
                    }
                })
                .catch(error => {
                    showMessage(error);
                });
            form.reset();
            $('#update-modal').modal('hide');
        }

        function setMaxAmount() {
            const discountType = document.getElementById("discountType").value;
            const amountInput = document.getElementById("discount");

            if (discountType === 'RATED') { // Adjust according to actual value for Type 1
                amountInput.setAttribute("max", "100");
                amountInput.value = 0;
            } else {
                amountInput.removeAttribute("max");
                amountInput.value = 0;
            }
        }
    </script>
    <!-- 쿠폰 정책 수정 모달 -->
    <div aria-hidden="true" aria-labelledby="editPolicyModalLabel" class="modal fade" id="update-modal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPolicyModalLabel">쿠폰 정책 수정</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form action="#" id="update-form" method="post">
                        <div class="mb-3">
                            <label class="form-label" for="update-name">쿠폰 정책 이름</label>
                            <input class="form-control" id="update-name" name="name"
                                   placeholder="쿠폰 정책 이름" required
                                   type="text">

                            <label class="form-label" for="update-discountType">할인 타입</label>
                            <select class="form-select" id="update-discountType" name="discountType"
                                    onchange="setMaxAmount()">
                                <option th:each="discountType : ${discountTypes}" th:text="${discountType.toKorName()}"
                                        th:value="${discountType}"></option>
                            </select>
                            <label class="form-label" for="update-discount">할인량</label>
                            <input class="form-control" id="update-discount" min="0" name="discount"
                                   placeholder="쿠폰 정책 값" required
                                   type="number">
                            <script>
                                document.getElementById('discount').addEventListener('input', function () {
                                    const maxAmount = this.getAttribute('max');
                                    console.log(this.value)
                                    if (maxAmount && this.value > Number(maxAmount)) {
                                        this.value = maxAmount;
                                    }
                                });

                            </script>
                            <label class="form-label" for="update-minimumOrderPrice">최소 주문 금액</label>
                            <input class="form-control" id="update-minimumOrderPrice" min="0" name="minimumOrderPrice"
                                   placeholder="최소 주문 금액" required
                                   type="number">

                            <label class="form-label" for="update-maximumDiscountPrice">최대 할인 금액</label>
                            <input class="form-control" id="update-maximumDiscountPrice" min="0"
                                   name="maximumDiscountPrice" placeholder="최대 할인 금액" required
                                   type="number">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" onclick="updateHandler('/admin/coupon-policy')"
                                    type="button">수정
                            </button>
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">아니오</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>