<div class="col-md-12" th:fragment="expectOrderInfo">
    <div class="card mb-3">
        <h5 class="mb-0">
            <button
                    aria-controls="collapseShippingDate"
                    aria-expanded="true"
                    class="btn btn-link accordion-button"
                    data-bs-target="#collapseShippingDate"
                    data-bs-toggle="collapse"
                    type="button"
            >
                배송 날짜 예약
            </button>
        </h5>
        <div
                aria-labelledby="headingShippingDate"
                class="collapse show"
                id="collapseShippingDate"
        >
            <div class="card-body">
                <br/>
                <h4>배송 예약 날짜 선택</h4>
                <br/>

                <ul class="list-group d-flex">
                    <li class="list-group-item">
                        <input checked id="deliveryTomorrow" name="deliveryDate"
                               type="radio" value="deliveryTomorrow">
                        <label for="deliveryTomorrow">내일 (<span id="dateTomorrow"></span>)</label>
                    </li>
                    <li class="list-group-item">
                        <input id="deliveryDayAfter" name="deliveryDate" type="radio"
                               value="deliveryDayAfter">
                        <label for="deliveryDayAfter">내일 모레 (<span
                                id="dateDayAfter"></span>)</label>
                    </li>
                    <li class="list-group-item">
                        <input id="deliveryTwoDaysAfter" name="deliveryDate" type="radio"
                               value="deliveryTwoDaysAfter">
                        <label for="deliveryTwoDaysAfter">글피 (<span
                                id="dateTwoDaysAfter"></span>)</label>
                    </li>
                </ul>


                <br/>

            </div>
        </div>
    </div>
</div>