<div class="col-md-12" th:fragment="productsInfo">
    <div class="card mb-3">
        <h5 class="mb-0">
            <button
                    aria-controls="collapseOrderDetails"
                    aria-expanded="true"
                    class="btn btn-link accordion-button"
                    data-bs-target="#collapseOrderDetails"
                    data-bs-toggle="collapse"
                    type="button"
            >
                주문 상세
            </button>
        </h5>
        <div
                aria-labelledby="headingOrderDetails"
                class="collapse show"
                id="collapseOrderDetails"
        >
            <div class="card-body">
                <br/>
                <h4>주문 품목</h4>
                <table class="table table-borderless">
                    <tbody>
                    <!-- 상품 항목 1 -->
                    <tr class="pt-3" style="border-bottom: 1px solid #dee2e6;"
                        th:each="book : ${bookOrderInfo}">
                        <td class="d-flex align-items-center">
                            <!-- 썸네일 -->
                            <img alt="상품 이미지" class="img-fluid mr-3"
                                 th:src="@{${book.thumbnailImageUrl}}">
                        </td>
                        <td>
                            <h6 class="mb-1" th:text="${book.title()}">테스트 책 이름</h6>
                        </td>
                        <td>
                            <!-- 상품 정보 -->
                            <div>
                                <div>가격: <span class="original-price" th:text="${book.price}">20,000원</span>
                                </div>
                                <div>세일가: <span class="sale-price"
                                                th:text="${book.salePrice}">15,000원</span></div>
                                <div>총합: <span class="book-total-price"
                                               th:text="${book.bookTotalPrice}">15,000원</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="mt-2">
                                <label for="item-quantity">수량:</label>
                                <span class="item-quantity" id="item-quantity"
                                      th:text="${book.quantity}">1개</span>
                            </div>
                        </td>
                        <td>
                            <div class="mt-2">
                                <div>
                                    <span>적용된 쿠폰: <span th:id="'coupon-name-' + ${book.bookId}">없음</span></span>
                                </div>
                                <button class="btn btn-sm btn-primary" data-bs-target="#couponModal"
                                        data-bs-toggle="modal">
                                    쿠폰 선택
                                </button>
                                <input th:id="'coupon-' + ${book.bookId}" th:name="'coupon-' + ${book.bookId}"
                                       type="hidden" value="none">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- 총합 -->
                <div class="text-right" style="border-bottom: 1px solid #dee2e6;">
                    <p>총 주문 품목: <span id="total-items">2</span>개</p>
                </div>

                <!-- 포장 정보 및 포장하기 버튼을 수평으로 배치 -->
                <div class="d-flex justify-content-between align-items-center mb-3 py-3">
                    <div>
                        <div id="packagingInfo">
                            <input id="selectedBooksHidden" name="selectedBooks" type="hidden"/>
                            <input id="packagingId" type="hidden">
                            <span>포장 정보: <span id="packagingTitle">선택하지 않음</span></span>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-primary" data-bs-target="#wrappingModal" data-bs-toggle="modal">
                        포장하기
                    </button>
                </div>
                <br/>
            </div>
            <!-- 주문 상세 -->
        </div>
    </div>
</div>
