<div th:fragment="totalInfo" id="payment-amount-container">
    <h5>결제 금액</h5>
    <div class="form-group">
        <!-- 배송비 -->
        <div class="mb-3">
            <label for="shipping-cost" class="font-weight-bold">배송비</label>
            <div id="shipping-cost" th:text="${orderInformation.shippingFee}">3000</div>
        </div>

        <!-- 도서 전체 금액 -->
        <div class="mb-3">
            <label for="book-list-amount" class="font-weight-bold">도서 전체 금액</label>
            <div id="book-list-amount">3000</div>
        </div>

        <!-- 포인트 -->
        <div class="mb-3">
            <label for="use-point" class="font-weight-bold">사용 포인트</label>
            <div id="use-point">0</div>
        </div>

        <!-- 총 결제 금액 -->
        <div class="mb-3">
            <label for="total-amount" class="font-weight-bold">총 결제 금액</label>
            <div type="text" class="form-control" id="total-amount">111</div>
        </div>
    </div>


    <!-- 결제 금액 업데이트 처리 -->
    <div class="mt-3">
        <button class="btn btn-primary" id="payment-button">결제하기</button>
    </div>
</div>