<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <header class="row">
        <!-- Header -->
        <div class="col-12 bg-white pt-4">
            <div class="row align-items-center py-3">
                <!-- Logo Section -->
                <div class="col-lg-auto">
                    <div class="site-logo text-center text-lg-left">
                        <a th:href="@{/}">NURIBOOKS</a>
                    </div>
                </div>
                <!-- Search Bar -->
                <div class="col-lg-5 mx-auto">
                    <div class="search-bar w-100" th:replace="fragments/search::search"></div>
                </div>

                <!-- User & Cart Section -->
                <div class="col-lg-auto d-flex justify-content-end align-items-center">
                    <div th:if="${isLoggedIn == null or isLoggedIn == false}">
                        <a th:href="@{/api/cart}" class="header-item">
                            <i class="fas fa-shopping-bag me-2"></i><span id="header-qty1"
                                                                          class="me-3 font-weight-bold">2</span>
                        </a>
                        <a th:href="@{/login}" class="header-item">
                            <span class="font-weight-normal">로그인</span>
                        </a>
                        <a th:href="@{/sign-up}" class="header-item">
                            <span class="font-weight-normal">회원가입</span>
                        </a>
                    </div>
                    <div th:if="${isLoggedIn}">
                        <a th:href="@{/api/cart}" class="header-item">
                            <i class="fas fa-shopping-bag me-2"></i><span id="header-qty2" class="me-3">2</span>
                        </a>
                        <form th:action="@{/logout}" method="post" style="display:inline;">
                            <button type="submit" class="header-item"
                                    style="border: none; background: none; padding: 0;">
                                <span class="font-weight-normal">로그아웃</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Main Navigation (Menu) -->
            <div class="container-fluid">
                <div class="row">
                    <!-- Left Side Menu -->
                    <div class="col-lg-6 col-md-12 d-flex justify-content-start p-3">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/}">홈</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/view/books">도서목록</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">신작</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">베스트</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="${isLoggedIn == true ? '/my-page' : '/login'}" class="nav-link">마이
                                        페이지</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Right Side Category Menu -->
                    <div class="col-lg-6 col-md-12 d-flex justify-content-end">
                        <nav class="navbar navbar-light bg-white">
                            <ul class="navbar-nav mt-2 mt-lg-0">
                                <li class="nav-item d-flex align-items-center">
                                    <span class="navbar-toggler-icon" onclick="toggleMenu()"
                                          style="cursor: pointer;"></span>
                                    <a class="nav-link" href="/view/categories"> 전체 카테고리</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Main Navigation End -->
        </div>
    </header>
</div>
</html>
