<div th:fragment="page(url)">
<nav class="pagination">
    <a class="btn btn-secondary" th:href="@{${url}(page=${pages.number - 1})}" th:if="${pages.number > 0}">이전</a>

    <!-- 페이지 번호 목록 (5개씩 표시) -->
    <span th:each="i : ${#numbers.sequence(1, pages.totalPages)}" th:if="${i >= pages.number - 2 && i <= pages.number + 3}">
            <a th:href="@{${url}(page=${i - 1})}"
               th:text="${i}" th:classappend="${i == pages.number + 1} ? 'current-page' : ''"></a>
        </span>

    <a class="btn btn-secondary" th:href="@{${url}(page=${pages.number + 1})}" th:if="${pages.number < pages.totalPages - 1}">다음</a>
</nav>
</div>
