<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce Template</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div layout:fragment="content">
    <div class="row min-vh-100">
        <div class="col-12">
            <!-- Main Content -->
            <div class="row">
                <div class="col-12 mt-3 text-center text-uppercase">
                    <h2>Shopping Cart</h2>
                </div>
            </div>

            <main class="row">
                <div class="col-12 bg-white py-3 mb-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">
                            <form class="row">
                                <div th:debug="*{cartResponseList}"></div>
                                <div class="col-12">
                                    <table class="table table-striped table-hover table-sm">
                                        <thead>
                                        <tr>
                                            <th>상품</th>
                                            <th>가격</th>
                                            <th>수량</th>
<!--                                            <th>합계</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
<!--                                            <tr th:each="cartResponse : ${cartResponseList}">-->
                                            <tr th:each="cartResponse : ${cartResponseList}">
                                                <td>
                                                    <img th:src="@{${cartResponse.cartBookResponse != null ? cartResponse.cartBookResponse.thumbnailImageUrl : '/path/to/default/image.jpg'}}" alt="product image">
                                                    <span th:text="${cartResponse.cartBookResponse != null ? cartResponse.cartBookResponse.title : 'No Title'}"></span>
                                                </td>
                                                <td>
                                                    <span th:text="${cartResponse.cartBookResponse != null && cartResponse.cartBookResponse.price != null
                                                    ? cartResponse.cartBookResponse.price + '원' : '가격 정보 없음'}"></span>
                                                </td>
                                                <td>
                                                    <input type="number" min="1" th:value="${cartResponse.quantity != null ? cartResponse.quantity : 1}" />
                                                </td>
<!--                                                <td>-->
<!--                                                    <span th:text="${cartResponse.cartBookResponse != null ? #strings.formatDecimal(cartResponse.cartBookResponse.price * cartResponse.quantity, 0) + '원' : '합계 없음'}"></span>-->
<!--                                                </td>-->
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="3" class="text-right">Total</th>
                                            <th>0원</th>
                                            <th></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
<!--                                <div class="col-12 text-right">-->
<!--                                    <button class="btn btn-outline-secondary me-3" type="submit">Update</button>-->
<!--                                    <a href="#" class="btn btn-outline-success">Checkout</a>-->
<!--                                </div>-->
                            </form>
                        </div>
                    </div>
                </div>

            </main>
            <!-- Main Content -->
        </div>
    </div>
</div>
</body>
</html>
