<!DOCTYPE html>
<html layout:decorate="~{layouts/order-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content">
    <div id="info">
        <div class="d-flex justify-content-center align-items-center" style="margin-top: 50px">
            <img src="https://static.toss.im/lotties/error-spot-no-loop-space-apng.png" width="100px"/>
            <h2>결제를 실패했어요</h2>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center px-3" style="margin-top: 10px">
            <div class="p-grid-col text--left"><b>에러메시지 : </b>
                <span class="p-grid-col text--right" id="message"></span>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center px-3" style="margin-top: 10px">
            <div class="p-grid-col text--left"><b>에러코드</b>
                <span class="p-grid-col text--right" id="code"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="button p-grid-col5"
                    th:onclick="|location.href='@{/view/books}'|">
                도서 목록으로
            </button>
        </div>
    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);

        const codeElement = document.getElementById("code");
        const messageElement = document.getElementById("message");

        codeElement.textContent = urlParams.get("code");
        messageElement.textContent = urlParams.get("message");
    </script>
</div>
</html>
