<div th:fragment="adminHeader">
    <header class="row">
        <!-- Header -->
        <div class="col-12 bg-white pt-4">
            <div class="row">
                <!-- Logo Section -->
                <div class="col-lg-auto">
                    <div class="site-logo text-center text-lg-left">
                        <a th:href="@{/}">NURIBOOKS</a>
                    </div>
                </div>

                <!-- Search Bar -->
                <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control border-dark" placeholder="Search..." required type="search">
                                <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- User & Cart Section -->
                <div class="col-lg-auto d-flex justify-content-between align-items-center">
                    <div th:if="${isLoggedIn == null or isLoggedIn == false}">
                        <a class="header-item" th:href="@{/api/cart}">
                            <i class="fas fa-shopping-bag me-2"></i><span class="me-3 font-weight-bold"
                                                                          id="header-qty1">2</span>
                        </a>
                        <a class="header-item" th:href="@{/login}">
                            <span class="font-weight-normal">로그인</span>
                        </a>
                        <a class="header-item" th:href="@{/sign-up}">
                            <span class="font-weight-normal">회원가입</span>
                        </a>
                    </div>
                    <div th:if="${isLoggedIn}">
                        <a class="header-item" th:href="@{/api/cart}">
                            <i class="fas fa-shopping-bag me-2"></i>
                        </a>
                        <form method="post" style="display:inline;" th:action="@{/logout}">
                            <button class="header-item" style="border: none; background: none; padding: 0;"
                                    type="submit">
                                <span class="font-weight-normal">로그아웃</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Main Navigation (Menu) -->
            <div class="container-fluid">
                <div class="row">
                </div>
            </div>
            <!-- Main Navigation End -->
        </div>
    </header>
</div>
