<div th:fragment="sidebar">
    <nav class="sidebar bg-dark text-white" style="width: 250px; min-height: 100vh; position: sticky; top: 0;">
        <ul class="nav flex-column px-3">
            <li class="nav-item my-2">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-users me-2"></i>회원
                </a>
                <ul class="nav flex-column ms-3">
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/member" href="/admin/member">회원
                            관리</a>
                    </li>
                </ul>

                <ul class="nav flex-column ms-3">
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="#"
                           href="/admin/member-coupon">쿠폰
                            발급</a>
                    </li>
                </ul>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item my-2">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-book me-2"></i>도서
                </a>
                <ul class="nav flex-column ms-3">
                    <li>
                        <a class="nav-link text-white sidebar-item" data-url="/admin/product"
                           href="/admin/view/book/manage">도서 관리</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/category" href="/admin/category">카테고리
                            관리</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/publisher" href="/admin/publisher">출판사
                            관리</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/tag" href="/admin/tag">태그 관리</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/contributor"
                           href="/admin/contributor">기여자 관리</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/wrapping-paper"
                           href="/admin/wrapping-paper">포장지 관리</a>
                    </li>
                </ul>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item my-2">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-archive me-2"></i>CS
                </a>
                <ul class="nav flex-column ms-3">
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/shipping" href="/admin/shipping">배송
                            관리</a>
                    </li>

                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/orders/return-requests"
                           href="/admin/orders/return-requests">반품
                            요청 관리</a>
                    </li>
                </ul>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item my-2">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-store me-2"></i>정책
                </a>
                <ul class="nav flex-column ms-3">
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/member" href="/admin/grade">등급
                            정책</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/shipping-policy"
                           href="/admin/shipping-policy">배송비 정책</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/point-policy"
                           href="/admin/point-policy">포인트 정책</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/coupon-policy"
                           href="/admin/coupon-policy">쿠폰
                            정책</a>
                    </li>
                </ul>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item my-2">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-cogs me-2"></i>작업
                </a>
                <ul class="nav flex-column ms-3">
                    <li class="nav-item my-2">
                        <a class="nav-link text-white sidebar-item" data-url="/admin/batch" href="/admin/batch">BATCH
                            목록</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Sidebar Navigation -->
</div>
