<html lang="en" layout:decorate="~{admin/layout/adminlayout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">

    <div th:replace="~{admin/fragment/js-utils::utils}"></div>
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">쿠폰 정책 관리</h2>
            </div>
            <div class="card-body">
                <div>
                    <input class="form-control me-2" id="type" name="type" th:value="${type}" type="hidden"/>

                    <a class="btn btn-outline-secondary me-2" href="/admin/coupon?type=ALL"
                       th:classappend="${type} == 'ALL' ? 'active text-white bg-primary' : ''">전체</a>
                    <a class="btn btn-outline-secondary me-2" href="/admin/coupon?type=BOOK"
                       th:classappend="${type} == 'BOOK' ? 'active text-white bg-primary' : ''">도서</a>
                    <a class="btn btn-outline-secondary" href="/admin/coupon?type=CATEGORY"
                       th:classappend="${type} == 'CATEGORY' ? 'active text-white bg-primary' : ''">카테고리</a>
                </div>
                <div id="register-modal" th:replace="~{admin/coupon/modal/register_modal::register_modal}"></div>

                <!-- 카테고리 쿠폰 등록 버튼 -->
                <div class="text-end mb-3">
                    <button class="btn btn-primary" id="openCategoryCouponModal"
                            onclick="openModal('register-category-coupon-modal')">
                        <i class="fas fa-plus-circle me-2"></i> 카테고리 쿠폰 등록
                    </button>
                </div>


                <!-- 쿠폰 정책 목록 테이블 -->
                <table class="table table-hover" id="data-table">

                    <thead class="table-light">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">쿠폰 이름</th>
                        <th class="text-center">쿠폰 유형</th>
                        <th class="text-center">정책 유형</th>
                        <th class="text-center">할인 할당량</th>
                        <th class="text-center">최소 주문 금액</th>
                        <th class="text-center">최대 할인 금액</th>
                        <th class="text-center">시작일시</th>
                        <th class="text-center">종료일시</th>
                        <th class="text-center">기간</th>
                        <th class="text-center">만료 유형</th>
                        <th class="text-center">활성화 여부</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="coupon : ${pages.content}">
                        <td class="text-center" th:text="${coupon.id}">ID</td>
                        <td class="text-center" th:text="${coupon.name}">쿠폰 이름</td>
                        <td class="text-center" th:text="${coupon.couponType}">쿠폰 유형</td>
                        <td class="text-center" th:text="${coupon.policyType.toKorName()}">정책 유형</td>
                        <td class="text-center"
                            th:text="${coupon.discount.intValue() + ' ' + (coupon.policyType.toString().equals('RATED') ? '%' : '₩')}">
                            할인 할당량
                        </td>
                        <td class="text-center" th:text="${coupon.minimumOrderPrice}">최소 주문 금액</td>
                        <td class="text-center" th:text="${coupon.maximumDiscountPrice}">최대 할인 금액</td>
                        <td class="text-center" th:text="${coupon.createdAt}">시작일시</td>
                        <td class="text-center" th:text="${coupon.expiredAt}">종료일시</td>
                        <td class="text-center" th:text="${coupon.period}">기간</td>
                        <td class="text-center" th:text="${coupon.expirationType.toKorName()}">만료 유형</td>
                        <td class="text-center"
                            th:text="${coupon.expiredDate == null ? 'Active' : coupon.expiredDate}">
                            만료기한
                        </td>
                        <td class="text-end">
                            <!-- 수정 버튼 (수정 모달 트리거) -->
                            <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                    th:onclick="'openModal(\'update-modal\', '+ ${coupon.id} +')'">
                                <i class="fas fa-edit me-2"></i>수정
                            </button>

                            <a class="btn btn-outline-secondary btn-sm"
                               th:onclick="'openModal(\'delete-modal\', '+ ${coupon.id} +')'">
                                <i class="fas fa-trash-alt me-2"></i>만료
                            </a>
                        </td>
                    </tr>

                    <tr th:if="${#lists.isEmpty(pages.content)}">
                        <td class="text-center text-muted" colspan="10">등록된 쿠폰 정책이 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/page::page(url=@{'/admin/coupon'(type=${type})})}"></div>
        </div>
    </div>

    <div th:replace="~{admin/coupon/modal/update_modal::update_modal}"></div>
    <div th:replace="~{admin/coupon/modal/delete_modal::delete_modal}"></div>
</div>
</body>
</html>
