<html lang="en" layout:decorate="~{admin/layout/adminlayout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div class="container mt-5" layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h3>쿠폰 발급</h3>
        </div>
        <div class="card-body">
            <form action="/admin/member-coupon" id="couponForm" method="post">
                <div class="form-group mb-3">
                    <label for="couponId">쿠폰 ID</label>
                    <input class="form-control" id="couponId" min="1" name="couponId" required step="1" type="number">
                </div>
                <div class="form-group mb-3">
                    <label for="memberId">회원 ID</label>
                    <input class="form-control" id="memberId" min="1" name="memberId" required step="1" type="number">
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-primary mt-3" type="submit">발급</button>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        const submitHandler = (event) => {
            event.preventDefault(); // 기본 폼 제출 동작 방지

            const form = document.getElementById('couponForm');
            const formData = new FormData(form);

            let url = '/admin/member-coupon';

            fetch(url, {
                method: 'POST',
                body: new URLSearchParams(formData)
            })
                .then(response => {
                    if (!response.ok) {
                        response.json().then(data => {
                            showMessage("등록 실패 \n" + data.message);
                        });
                    } else {
                        showMessage("쿠폰이 성공적으로 발급되었습니다.");
                    }
                })
                .catch(error => {
                    showMessage("오류 발생: " + error);
                });

            form.reset();
        }

        // 폼의 제출 이벤트에 핸들러 연결
        document.getElementById('couponForm').addEventListener('submit', submitHandler);
    </script>


</div>
</body>
</html>
